<h1>Динамическая загрузка компонент</h1>

<p>Условия задачи</p>

1. Допустим что DOM-модель можно описать следующим (упрощенным) интерфейсом.

<pre>
    <code [innerHTML]="code1"></code>
</pre>

2. Модель поставляется в json-файле


<p>Постановка задачи:</p>
    Необходимо разработать компонент который на базе переданной модели создает и загружает в себя angular-компонент, т.е. необходимо в рантайм (после того как angular-приложение уже загрузилось, и была выполнена процедура bootstrap):
    - загрузить HTTP-запросом json-файл (путь передается входным параметром компонента);
    - создать корректный HTML-шаблон по загруженной модели;
    - создать angular-компонент с полученным шаблоном и скомпилировать его;
    - загрузить компонент.


<p>Пример данных:</p>
    Если входными данными является следующая модель:

<pre>
<code [innerHTML]="code2"></code>
</pre>

<h2>А вот что получилось</h2>
    <dynamic-content></dynamic-content>



подсмотрено здесь http://stackoverflow.com/a/38888009/1679310